img {
    height: 500px;
    width: 500px;
}
body {
    background-color:rgb(169, 160, 180); /*background color of the webpage if applicable*/
}
p {
    color:rgb(7, 19, 243); /* color  and font style of the contents of paragraph p */
    font-style: italic;
    font-size: medium;
    font-weight: bold;
}
p1 {
    color:rgb(68, 0, 255);  /* color  and font style of the contents of paragraph p1 */
    font-weight: bolder;
    font-size: xx-large;
}
body {
    text-align:justify;
}